h1{
	text-align: center;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 400%;
	text-color: white;
}
li a{
	color: white;
}
#selectionBox{
	height: 5800px;
	width: 1100px;
    border: 2px solid white;
    padding: 25px;
    margin: 25px;
	background-color: white;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	padding-right: 75px;
	background-color: gray;
}
.playerSelect{
	text-align: center;
	width: 175px;
	text-decoration: underline;
	border: 2px solid black;
}
.player2Select{
	float: right;
}
.player1Select{
	float: left;
}
.selection{
	padding-left: 30px;
	padding-right: 30px;
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
.subP1{
	padding-left: 40px;
}
.subP2{
	padding-left: 240px;
}
.fightBody{
	background-color: gray;
	overflow: hidden;
}
.fightButton{
}
#Fight{
	color: white;
}
#fighter{
	width: 150px;
	height: 150px;	
}
#fighter1_1{
	position:relative;
}
#fighter1_2{
	position:relative;
}#fighter2_1{
	position:relative;
}#fighter2_2{
	position:relative;
}
#arena{
	height: 470px;
	width: 700px;
    border: 2px solid gray;
    padding: 25px;
    margin: 25px;
	background-color: white;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	background-color: white;
}
#battleMenu{
	height: 130px;
	border-width: 5px;
	border-style: double;
	border-radius: 10px;
	box-shadow: 0 0 0 1px black, 0 0 0 10px white;
	font-family: pokemon;
	font-size: 125%;
	font-weight: bold;
	line-height: 130px;
	padding-left: 20px;
}
#moves{
	height: 65px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	line-height: 50px;
}
@font-face{
	font-family: pokemon;
	src: url(PokemonGB.ttf);
}
#leftMenu{
	height: 130px;
	border-width: 5px;
	border-style: double;
	border-radius: 10px;
	box-shadow: 0 0 0 1px black, 0 0 0 10px white;
	font-family: pokemon;
	font-size: 65%;
	font-weight: bold;
	line-height: 50px;
}
#name2, #name1{
	font-family: pokemon;
	font-size: 150%;
}
.backMon{
	width: 50%;
}
.hideBtn{
	opacity: 0;
	cursor: auto;
}
.hpBar{
	height: 50px;
	width: 220px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
.hp{
	font-size: 75%;
	font-weight: bold;
}
.hpNumber{
	font-size: 150%;
	text-align: center;
}
.healthMeter {
	height: 7px;
	width: 170px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #000;
	opacity: .65;
}	
progress::-webkit-progress-bar-value{
    -webkit-appearance: progress-bar;
	background-color: green;
}	
.controls {
	padding-top: 490px;
	padding-left: 50px;
	font-size: 200%;
	color: white;
}
h2 {
	text-align: left;
}
#mon2Weapon1, #mon1Weapon2{
	position: absolute;
	padding-left: 420px;
	padding-top: 130px;
	width: 50px;
	height: 50px;
}
#mon1Weapon1, #mon2Weapon2{
	position: absolute;
	padding-left: 300px;
	padding-top: 240px;
	width: 50px;
	height: 50px;
}
#mon2Blood1, #mon1Blood2{
	position: absolute;
	padding-left: 400px;
	padding-top: 100px;
	width: 50px;
	height: 50px;
}
#mon1Blood1, #mon2Blood2{
	position: absolute;
	padding-left: 220px;
	padding-top: 180px;
	width: 50px;
	height: 50px;
}






