<!DOCTYPE html>
<html>
<head>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
	<script src="Poke.js"></script>
	<link rel="stylesheet" type="text/css" href="Battle.css">
	

</head>
<body ng-app="myApp" ng-controller="fightCtrl"  ng-keydown="key($event)" class="fightBody">
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="Poke.html">Home</a></li>
	  <li role="presentation"><a href="Pokedex.html">Pokedex</a></li>
	  <li role="presentation" class="active"><a href="Battle.html">Battle</a></li>
	</ul>
	<h1>FIGHT!</h1>
	<h5>{{url}}</h5>
	<div class="row">
		<div class="col-md-6">
			<div id="arena">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<div class="row">
							<button ng-click="disabled" type="button" class="btn btn-danger btn-lg hideBtn">FIGHT</button>
						</div>
						<div class="row">
							<div id="name2" class="row">
								{{pokemon2.name}}
							</div>
							<div class="row hpBar">
								<div class="row hp">
								<div class="col-md-2">
									HP: 
								</div>
								<div class="col-md-10">
									<progress id="hpMeter" value="{{mon2CurrHp}}" max="{{mon2MaxHp}}" class="healthMeter">
									
									</progress>
								</div>
								</div>
								<div id="hpNumber" class="row hpNumber">{{mon2CurrHp}}/{{mon2MaxHp}}</div>
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-2"></div>
					<div class="col-md-2"><img id="fighter" src={{pokemon2.imageFront}}></div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2"><img id="fighter" src={{pokemon1.imageBack}}></div>
					<div class="col-md-2"></div>
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<div class="row">
							<button ng-click="disabled" type="button" class="btn btn-danger btn-lg hideBtn">FIGHT</button>
						</div>
						<div class="row">
							<div id="name1" class="row">
								{{pokemon1.name}}
							</div>
							<div class="row hpBar">
								<div class="row hp">
								<div class="col-md-2">
									HP: 
								</div>
								<div class="col-md-10">
									<progress id="hpMeter" value="{{mon1CurrHp}}" max="{{mon1MaxHp}}" class="healthMeter">
									
									</progress>
								</div>
								</div>
								<div id="hpNumber" class="row hpNumber">{{mon1CurrHp}}/{{mon1MaxHp}}</div>
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div id="leftMenu" class="col-md-6">{{message1}}</div>
					<!--<div id="battleMenu" class="col-md-6">
						<div class="row">
							<div ng-show="fight" id="moves" class="col-md-6">&#x25B6; Fight</div>
							<div ng-hide="fight" id="moves" class="col-md-6">Fight</div>
							<div ng-show="bag" id="moves" class="col-md-6">&#x25B6; Bag</div>
							<div ng-hide="bag" id="moves" class="col-md-6">Bag</div>
						</div>
						<div class="row">
							<div ng-show="mon" id="moves" class="col-md-6">&#x25B6; Mons</div>
							<div ng-hide="mon" id="moves" class="col-md-6">Mons</div>
							<div ng-show="run" id="moves" class="col-md-6">&#x25B6; Run</div>
							<div ng-hide="run" id="moves" class="col-md-6">Run</div>
						</div>
					</div>-->
					<div id="battleMenu" class="col-md-6">
						<div class="row">
							<div id="moves" class="col-md-6">(a)Stab</div>
							<div id="moves" class="col-md-6">(w)Heal</div>
						</div>
						<div class="row">
							<div id="moves" class="col-md-6">(s)Perry</div>
							<div id="moves" class="col-md-6">(d)Slam</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="arena">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<div class="row">
							<button ng-click="disabled" type="button" class="btn btn-danger btn-lg hideBtn">FIGHT</button>
						</div>
						<div class="row">
							<div id="name1" class="row">
								{{pokemon1.name}}
							</div>
							<div class="row hpBar">
								<div class="row hp">
								<div class="col-md-2">
									HP: 
								</div>
								<div class="col-md-10">
									<progress id="hpMeter" value="{{mon1CurrHp}}" max="{{mon1MaxHp}}" class="healthMeter">
									
									</progress>
								</div>
								</div>
								<div id="hpNumber" class="row hpNumber">{{mon1CurrHp}}/{{mon1MaxHp}}</div>
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-2"></div>
					<div class="col-md-2"><img id="fighter" src={{pokemon1.imageFront}}></div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2"><img id="fighter" src={{pokemon2.imageBack}}></div>
					<div class="col-md-2"></div>
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<div class="row">
							<button ng-click="disabled" type="button" class="btn btn-danger btn-lg hideBtn">FIGHT</button>
						</div>
						<div class="row">
							<div id="name2" class="row">
								{{pokemon2.name}} 
							</div>
							<div class="row hpBar">
								<div class="row hp">
								<div class="col-md-2">
									HP: 
								</div>
								<div class="col-md-10">
									<progress id="hpMeter" value="{{mon2CurrHp}}" max="{{mon2MaxHp}}" class="healthMeter">
									
									</progress>
								</div>
								</div>
								<div id="hpNumber" class="row hpNumber">{{mon2CurrHp}}/{{mon2MaxHp}}</div>
							</div>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div id="leftMenu" class="col-md-6">{{message2}}</div>
					<!--<div id="battleMenu" class="col-md-6">
						<div class="row">
							<div ng-show="fight2" id="moves" class="col-md-6">&#x25B6; Fight</div>
							<div ng-hide="fight2" id="moves" class="col-md-6">Fight</div>
							<div ng-show="bag2" id="moves" class="col-md-6">&#x25B6; Bag</div>
							<div ng-hide="bag2" id="moves" class="col-md-6">Bag</div>
						</div>
						<div class="row">
							<div ng-show="mon2" id="moves" class="col-md-6">&#x25B6; Mons</div>
							<div ng-hide="mon2" id="moves" class="col-md-6">Mons</div>
							<div ng-show="run2" id="moves" class="col-md-6">&#x25B6; Run</div>
							<div ng-hide="run2" id="moves" class="col-md-6">Run</div>
						</div>
					</div>-->
					<div id="battleMenu" class="col-md-6">
						<div class="row">
							<div id="moves" class="col-md-6">(&#8592;)Stab</div>
							<div id="moves" class="col-md-6">(&#8593;)Heal</div>
						</div>
						<div class="row">
							<div id="moves" class="col-md-6">(&#8595;)Perry</div>
							<div id="moves" class="col-md-6">(&#8594;)Slam</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row controls">
		<div class="col-md-6">
			<h3>
				Player 1 Controls: (w,a,s,d,space)
			</h3>
		</div>
		<div class="col-md-6">
			<h3>
				Player 2 Controls: (up, down, left, right, enter)
			</h3>
		</div>
	</div>
	

</body>
